/debug.bat
/ffmpegsumo.dll
/icudtl.dat
/libEGL.dll
/libGLESv2.dll
/nw.exe
/nw.pak
/nwjc.exe
/package.json
/pdf.dll
/site
/view
/widget
/credits.html
/d3dcompiler_47.dll
/css
/font
/locales
/modules
/pkg
/node_modules
