<!DOCTYPE html>
<html>

<head>
  <link rel="import" href="/widget/meate/meate.html?__inline">
</head>

<body>
  <link rel="import" href="/widget/head/head.html?__inline">
  <link rel="import" href="/widget/footer/footer.html?__inline">
  <div class="main">
    <div class="setting form">
      <div class="cfile">
        <label for="">生成目录</label><input type="text" id="file" placeholder="请选择生成目录">
        <button class="btn btn-info">请选择生成目录</button>
        <input type="file" webkitdirectory class="file">
      </div>
      <div>
        <label for="">数据库类型</label>
        <select name="" id="dbtype" class="select">
          <option value="">请选择数据库类型</option>
          <option value="mongodb">Mongodb</option>
          <option value="mysql" selected="selected">mysql</option>
        </select>
      </div>
    </div>
    <fieldset class="tab mongodb">
      <legend>&nbsp;&nbsp;mongodb&nbsp;&nbsp;</legend>
      <div class="form">
        <div><label for="">历史记录</label><select name="" id="mongodbhisstore" style="width:300px;height:30px;">
          <option value="" selected="selected">切换到历史记录</option>
          <option value="clear">清除一月前历史记录</option>
        </select></div>
        <div><label for="">表名</label><input type="text" placeholder="务必使用大驼峰式命名法" id="mongodb-tablename" class="tablename"></div>
        <div><label for="">中文名称</label><input type="text" placeholder="请输入中文名称" id="mongodb-china" class="china"></div>
        <div><label for="">url地址</label><input type="text" placeholder="请输入连接地址" id="mongodb-url" class="url"></div>
      </div>
      <table>
        <thead>
          <tr>
            <td style="width:150px;">字段</td>
            <td style="width:90px;">类型</td>
            <td style="width:230px">验证规则</td>
            <td style="width:300px;">json</td>
            <td style="">注释</td>
            <td style="width:100px;">操作</td>
          </tr>
        </thead>
        <tbody class="mongodbkey">

        </tbody>
        <tfoot>
          <tr>
            <td colspan="6">
              <button class="btn btn-info addrow">添加行</button>
              <button class="btn btn-info generate">生成文件</button>
            </td>
          </tr>
        </tfoot>
      </table>
    </fieldset>
    <fieldset class="tab mysql">
      <legend>&nbsp;&nbsp;mysql&nbsp;&nbsp;</legend>
      <div class="form">
        <div><label for="">历史记录</label><select name="" id="mysqlhisstore" style="width:300px;height:30px;">
          <option value="" selected="selected">切换到历史记录</option>
          <option value="clear">清除一月前历史记录</option>
        </select></div>
        <hr>
        <div>
          <label for="">host</label><input type="text" class="请输入主机地址" id="mysqlhost">
        </div>
        <div>
          <label for="">usr</label><input type="text" placeholder="请输入账户" value="root" id="mysqlusr">
        </div>
        <div>
          <label for="">pwd</label><input type="password" placeholder="请输入密码" id="mysqlpwd">
        </div>
        <div>
          <label for="">port</label><input type="text" placeholder="请输入端口号" id="mysqlpwd" value="3306">
        </div>
        <div><button class="btn btn-info" id="mysqllogin">登录</button></div>
        <hr>
        <div>
          <label for="">选择数据库</label><select name="" id="choosedb">
            <option value="">请选择数据库</option>
          </select>
        </div>
        <div><label for="">表名</label><select id="mysql-tablename" class="tablename">
          <option value="">请选择表名</option>
        </select></div>
        <div><label for="">中文名称</label><input type="text" placeholder="请输入中文名称" id="mysql-china" class="china"></div>
        <div><label for="">url地址</label><input type="text" placeholder="请输入连接地址" id="mysql-url" class="url" ></div>
      </div>
      <table>
        <thead>
          <tr>
            <td style="width:150px;">字段</td>
            <td style="width:90px;">类型</td>
            <td style="width:230px">验证规则</td>
            <td style="width:300px;">json</td>
            <td style="">注释</td>
            <td style="width:100px;">操作</td>
          </tr>
        </thead>
        <tbody class="mysqlkey">

        </tbody>
        <tfoot>
          <tr>
            <td colspan="6">
              <button class="btn btn-info addrow mysqladdrow">添加行</button>
              <button class="btn btn-info generate">生成文件</button>
            </td>
          </tr>
        </tfoot>
      </table>
    </fieldset>
  </div>
  <script src="site/index/index.js" charset="utf-8"></script>
  <script type="text/javascript">
    index.init();
  </script>
</body>

</html>
